.bg {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;	
	background-image: url("Poster.jpg");
	background-size: cover;
	background-repeat: no-repeat; 
}

.ch {
	position: absolute;
	top: 78px;
	left: 25px;
	font-family: Impact;
	font-size: 50px;
	color: #ee622b;
}

.ch2 {
	position: absolute;
	top: 136px;
	left: 27px;
	font-family: Athelas;
	font-size: 25px;
	color: #09102b;
}


.t {
	position: absolute; 
	position: center;
	top: 380px;
	left: 186px;
	font-family: Impact;
	font-size: 37px;
	color: #09102b;
}
.t2 {
	position: absolute; 
	position: center;
	top: 387px;
	left: 410px;
	font-family: Impact;
	font-size: 30px;
	color: white;
}
.day{
	position: absolute;
	top: 580px;
	left: 25px;
	font-family: Arial Black;
	font-size: 25px;
	color: #dcbbb6;
}
.day2 {
	position: absolute;
	top: 610px;
	left: 25px;
	font-family: Arial Black;
	font-size: 25px;
	color: #dcbbb6;
}
.date {
	position: absolute;
	top: 580px;
	left: 140px;
	font-family: Arial Black;
	font-size: 25px;
	color: #ee622b;
}
.date2 {
	position: absolute;
	top: 610px;
	left: 155px;
	font-family: Arial Black;
	font-size: 25px;
	color: #ee622b;
}

.p1 {
	position: absolute;
	top: 550px;
	left: 840px;
	font-family: Arial Black;
	font-size: 25px;
	color: #ee622b;
}
.p2 {
	position: absolute;
	top: 580px;
	left: 830px;
	font-family: Arial Black;
	font-size: 25px;
	color: #ee622b;
}
.p3 {
	position: absolute;
	top: 610px;
	left: 840px;
	font-family: Arial Black;
	font-size: 25px;
	color: #ee622b;
}
.p4 {
	position: absolute;
	top: 550px;
	left: 918px;
	font-family: Arial Black;
	font-size: 25px;
	color: #dcbbb6;
}.p5 {
	position: absolute;
	top: 580px;
	left: 962px;
	font-family: Arial Black;
	font-size: 25px;
	color: #dcbbb6;
}.p6 {
	position: absolute;
	top: 610px;
	left: 973px;
	font-family: Arial Black;
	font-size: 25px;
	color: #dcbbb6;
}
.button {
	position: absolute;
	width: 150px;
	height: 50px;
	top: 590px;
	left: 550px;
	background-color: #09102b;
	border-radius: 35%;
	font-family: Impact;
	font-size: 20px;
	color: #ee622b;
	text-align: center;
	line-height: 50px;	
}	
.button:hover {
	background-color: #ee622b;
	color: white;
	cursor: pointer;
}
@media (max-width: 375px)
		{

.ch {
position: absolute;
	top: 88px;
	left: 41px;
	font-family: Impact;
	font-size: 45px;
	color: #ee622b;
	text-align: center;
}
.ch2 {
	position: absolute;
	top: 135px;
	left: 45px;
	font-family: Athelas;
	font-size: 22px;
	color: #09102b;
	text-align: center;
}
.t {
	position: absolute; 
	position: center;
	top: 220px;
	left: 115px;
	font-family: Impact;
	font-size: 27px;
	color: #09102b;
	text-align: center;
}
.t3 {
	position: absolute; 
	position: center;
	top: 260px;
	left: 95px;
	font-family: Impact;
	font-size: 20px;
	color: white;
	text-align: center;
}
.day{
	position: absolute;
	top: 345px;
	left: 150px;
	font-family: Arial Black;
	font-size: 20px;
	color: #09102b;
	text-align: center;
}
.to{
	position: absolute;
	top: 400px;
	left: 180px;
	font-family: Arial Black;
	font-size: 20px;
	color: #ee622b;
	text-align: center;
}
.day2 {
	position: absolute;
	top: 435px;
	left: 140px;
	font-family: Arial Black;
	font-size: 20px;
	color: #09102b;
	text-align: center;
}
.date {
	position: absolute;
	top: 375px;
	left: 110px;
	font-family: Arial Black;
	font-size: 15px;
	color: white;
	text-align: center;
}
.date2 {
	position: absolute;
	top: 465px;
	left: 120px;
	font-family: Arial Black;
	font-size: 15px;
	color: white;
	text-align: center;
}

.p1 {
	position: absolute;
	top: 550px;
	left: 130px;
	font-family: Arial Black;
	font-size: 20px;
	color: #ee622b;
	text-align: center;
}
.p2 {
	position: absolute;
	top: 580px;
	left: 120px;
	font-family: Arial Black;
	font-size: 20px;
	color: #ee622b;
	text-align: center;
}
.p3 {
	position: absolute;
	top: 610px;
	left: 120px;
	font-family: Arial Black;
	font-size: 20px;
	color: #ee622b;
	text-align: center;
}
.p4 {
	position: absolute;
	top: 550px;
	left: 195px;
	font-family: Arial Black;
	font-size: 20px;
	color: white;
	text-align: center;
}
.p5 {
	position: absolute;
	top: 580px;
	left: 220px;
	font-family: Arial Black;
	font-size: 20px;
	color: white;
	text-align: center;
}
.p6 {
	position: absolute;
	top: 610px;
	left: 230px;
	font-family: Arial Black;
	font-size: 20px;
	color: white;
	text-align: center;
}
.button {
	position: absolute;
	width: 150px;
	height: 50px;
	top: 660px;
	left: 115px;
	background-color: #09102b;
	border-radius: 35%;
	font-family: Impact;
	font-size: 20px;
	color: #ee622b;
	text-align: center;
	line-height: 50px;	
}	
.button:hover {
	background-color: #ee622b;
	color: white
	cursor: pointer;
}
}
